.Container {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.Box {
  width: 30rem;
}

.Links {
  display: flex;
  flex-direction: column;
}

.Link {
  text-decoration: none;
  color: var(--color-secondary);
  //   font-size: var(--font-body);

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}
