.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
}

.heading5 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.heading6 {
  font-size: 1.3rem;
}

.heading3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.Heading_Hero {
  font-size: 10rem;
  font-weight: 300;
  font-family: "Source Serif Pro", serif;
  color: var(--color-brown);
  text-transform: uppercase;
}
