.nav {
  // display: flex;
  align-items: center;
  margin-top: 1rem;
  // justify-content: space-between;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr minmax(40rem, 80rem) 1fr;
  // grid-template-rows: 8rem;
  // height: 8rem;
  position: relative;

  padding: 0 5rem;
  border-bottom: 1px solid var(--color-stroke);

  &__links {
    display: grid;
    grid-column: 2/3;

    grid-row: 1 / -1;
    position: relative;

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-self: flex-start;
      justify-content: space-between;
      z-index: 20;
    }
  }

  &__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-primary);
    text-transform: uppercase;
    height: 100%;
    padding: 2rem 1rem;
    margin: 0 0.5rem;
  }

  &__container {
    position: absolute;
    top: 220%;
    width: 100%;
    max-height: 70rem;
    box-shadow: 0.5rem 1rem 3rem rgba(#000, 0.2);
    z-index: 10;

    display: grid;
    grid-template-rows: minmax(10rem, 15rem) 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    // grid-row-gap: 2rem;

    &__category {
      // margin-top: 1rem;
      height: 100%;
      width: 100%;
      padding: 2rem;
      border-right: 2px solid var(--color-stroke);

      display: grid;

      // display: grid;

      &__box {
        margin-top: 1.5rem;
        grid-column-gap: 2rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-row-gap: 0.5rem;
      }
    }

    &__banner {
      display: grid;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        // max-height: 16rem;

        object-fit: cover;
        // background-image: linear-gradient(to right, #000, #000);
      }
    }
  }

  //
}

.search__toggle {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  grid-column: 2/-1;
}

.active {
  border-bottom: 2px solid var(--color-accent);
}
