.BtnCTA {
  font-family: "Source Serif Pro", serif;
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: bold;

  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  position: relative;

  &:hover::after {
    transform: translate(-50%, -50%) skewY(0deg);
    padding: 1rem 3.5rem;
    height: 12rem;
    width: 12rem;
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
  }

  &:hover span {
    color: var(--color-white);
  }

  span {
    color: var(--color-primary);
    z-index: 20;
    position: relative;
    // color: var(--color-accent);
  }

  //   &:hover

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(10deg);
    content: "";
    width: 130%;
    padding: 2rem 7.5rem;

    height: 130%;
    // height: 300%;
    border-radius: 50%;

    border: 1px solid var(--color-primary);
    transition: all 0.2s ease-in-out;
  }

  //   &:active {
  //     transform: sca;
  //   }
}

.BtnRound {
  color: var(--color-primary);
  text-transform: capitalize;
  outline: none;
  border: 1px solid var(--color-primary);
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    color: var(--color-white);
  }
}
.BtnRoundActive {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--color-white);
}

.LinkRound {
  display: block;
  width: 15rem;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  outline: none;
  text-decoration: none;

  font-size: var(--font-body);
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  transition: all 0.2s ease-in;
  &:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
  // border: 1px solid ;
}
