.wrapper {
  position: relative;
}
.error {
  width: auto;

  padding: 2rem;

  &--failed {
    color: var(--color-urgent);
  }

  &--success {
    color: var(--color-success);
  }

  h6 {
    text-align: center;
  }
}
